.c-alert { display: flex;flex-direction: row;align-items: start;
}


.c-alert-icon { padding: 8px; box-sizing: content-box;
}
.c-alert--info {border: 1px solid var(--semantic-info);}
.c-alert--error {border: 1px solid var(--semantic-error);}
.c-alert--warning {border: 1px solid var(--semantic-warning);}
.c-alert--success {border: 1px solid var(--semantic-success);}

.c-alert-message { margin: 0;
}

.c-alert-close {
}
.c-alert--success .c-alert-icon { color: var(--semantic-success);}


.c-alert--error .c-alert-icon{ color: var(--semantic-error)
}

.c-alert--warning .c-alert-icon { color: var(--semantic-warning);
}

.c-alert--info .c-alert-icon { color: var(--semantic-info);
}
@media (max-width: 768px) {
  .c-alert {
  }
}

@media (max-width: 480px) {
  .c-alert {
  }
}
.c-alert--success {
}

.c-alert--error {
}

.c-alert--warning {
}

.c-alert--info { 
}